.container {
  min-height: 100vh;
  padding: 0 1rem;;
}

.header {
  background-color: #2E4172;
  padding: 0;
  color: white;
}

.background {
  padding: 0;
}



.footer {
  width: 100%;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1.5em;
}