.container {
  margin: 0 2.5rem;
}

.header__wrapper {
  text-align: center;
  padding: 3.5em 0 2em 0;
}

.row {
  display: flex;
  justify-content: space-between;
}

.col {
  font-size: .85rem;
  margin: 2.5rem 0;
}

.col + .col {
  margin-left: 5rem;
}

.profile {
  border: 1px solid red;
}
